<section class="paranoia-item">
  <header class="sheet-header">
    <input name="name" type="text" value="{{item.name}}" placeholder="Equipment Name" />
  </header>
  <div class="item-body">
    <div class="form-group">
      <label>Level</label>
      <input name="system.level" type="number" value="{{system.level}}" />
    </div>
    <div class="form-group">
      <label>Clearance</label>
      <input name="system.clearance" type="text" value="{{system.clearance}}" />
    </div>
    <div class="form-group">
      <label>Category</label>
      <input name="system.category" type="text" value="{{system.category}}" />
    </div>
    <div class="form-group">
      <label>Success Effect</label>
      <textarea name="system.successEffect">{{system.successEffect}}</textarea>
    </div>
    <div class="form-group">
      <label>Treason Effect</label>
      <textarea name="system.treasonEffect">{{system.treasonEffect}}</textarea>
    </div>
    <div class="form-group">
      <label>Notes</label>
      <textarea name="system.notes">{{system.notes}}</textarea>
    </div>
  </div>
</section>
